body{
      font-size: 16px;
}
#buttonAdd, #total, div#amountRows{
      margin-left: 15%;
      margin-top: 1%;
}
#total{
      background-color: lightblue;
      width: 70%;
      height: 60px;
}
#total p{
      padding-top: 20px;
      padding-left: 30px;
      font-size: larger;
}
span{
      margin-left: 875px
}
table{
      margin-top: 5%;
      margin-left: 15%;
}
thead {color:green;}
tbody, input {color:blue;}
table, th, td {
 border: 1px solid black;
}
 td, th, input{
      /* font-size: 16px; */
      text-align: center;
      height: 35px;
      width: 175px;
}

#buttonAdd , #buttonRemove{
      width: 75px;
      height: 75px;
      outline: none;
      border-radius: 25%;
}
#buttonRemove{
      margin-left: 875px;
}
#totalchecked{
      margin-left: 850px;
}
#amountRows{
      display: inline-flex;
      font-size: larger;
}